header {
    background-color: #1557C0;
    color: #fff;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
    object-fit: cover;
    padding: 0;
    margin: 0;
  }
  .logo img {
    padding: 0;
    margin-left: 50%;
    width: 100px; /* Adjust the width as needed */
    height: 100px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  ul li a:hover {
    color: #ff0; /* Change to your desired hover color */
  }
  



  //button add 

  .cssbuttons-io-button {
    background: #1557C0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #1557C0;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #1557C0 ;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #1557C0;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  
  .white, .white a {
    color: #fff;
  }
  //sign up 



    .signup {
      --primary-color: #1557C0;
      --secondary-color: #fff;
      --hover-color: #fff;
      --arrow-width: 10px;
      --arrow-stroke: 2px;
      --hover-color-text : #1557C0;
      box-sizing: border-box;
      border: 0;
      border-radius: 20px;
      color: var(--secondary-color);
      padding: 1em 1.8em;
      background: var(--primary-color);
      display: flex;
      transition: 0.2s background;
      align-items: center;
      gap: 0.6em;
      font-weight: bold;
    
    
        .arrow-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .arrow {
      margin-top: 1px;
      width: var(--arrow-width);
      background: var(--primary-color);
      height: var(--arrow-stroke);
      color: var(--hover-color-text);
  
      position: relative;
      transition: 0.2s;
    }
    
    .arrow::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      border: solid var(--hover-color-text);
      border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
      display: inline-block;
      top: -3px;
      right: 3px;
      transition: 0.2s;
      padding: 3px;
      transform: rotate(-45deg);
    }
    
    .signup:hover {
      background-color: var(--hover-color);
      color: var(--hover-color-text);
    }
    
    .signup:hover .arrow {
      background: var(--secondary-color);
    }
    
    .signup:hover .arrow:before {
      right: 0;
    }
}

  //normale search input 

  .search{
    .group {
        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 250px;
      }
      
      .input {
        width: 100%;
        height: 40px;
        line-height: 28px;
        padding: 0 1rem;
        padding-left: 2.5rem;
        border: 2px solid transparent;
        border-radius: 8px;
        outline: none;
        background-color: #fff;
        color: #0d0c22;
        transition: 0.3s ease;
      }
      
      .input::placeholder {
        color: #9e9ea7;
      }
      
      .input:focus,
      input:hover {
        outline: none;
        border-color: rgba(234, 226, 183, 0.4);
        background-color: #fff;
        box-shadow: 0 0 0 4px rgb(234 226 183 / 10%);
      }
      
      .icon {
        position: absolute;
        left: 1rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;
      }
      
  }




 
  // photo input 

  .photo{
    margin-top: 1rem;
    padding: 0;



*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  color: #56585b;
}

::-moz-placeholder {
  color: #56585b;
}

:-moz-placeholder {
  color: #56585b;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: url('../../../assets/images/tr14.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #0a0a0b;
  overflow: hidden;
}

ul, nav{
  list-style: none;
  padding: 0;
}

a {
  color: #0a0a0b;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

.websiteheader {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 1.5rem;
}

i {
  font-size: 1.3rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 100px 0;
}

header nav ul {
  display: flex;
}

header nav li{
  margin: 0 15px;
}

header nav li:first-child{
  margin-left: 0; 
}

header nav li:last-child{
  margin-right: 0;  
}

a.btn {
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a.btn:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}

.cover  {
  height: 50vh;
  width: 100%;
  
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  object-fit: cover;

}

.flex-form {
  z-index: 10;
  position: relative;
  width:40rem;
}

.flex-form > * {
  border: 0;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
}

input[type="search"] {
  flex-basis: 500px;
  
}

#madeby {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 100px;
  color: #fff;
}

.main{
  h1{
    text-align: center;
    color: #01579B;
  }
}



@media all and (max-width:800px) {
  body {
    font-size: 0.9rem;
  }

  .flex-form {
    width: 100%;
  }

  input[type="search"] {
    flex-basis: 100%;
  }

  .flex-form > * {
    font-size: 0.9rem;
  }

  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 10px !important;
  }

  header h2 {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  .cover {
    padding: 20px;
  }

  #madeby {
    padding: 30px 20px;
  }
}

@media all and (max-width:360px) {
  header nav li{
    margin: 0 10px;
  }

  .flex-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  input[type="search"] {
    flex-basis: 0;
  }

  label {
    display: none;
  }
}
  }

  input[type="radio"]{
    width: 1.3em;
    height: 1.3em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
  }
.button{
  width: 400px;
  a{
    h1{
      border: 1px #01579B solid;
      padding: 1rem; 
      color: #01579B;
      font-size: 1.1rem;
    }
  }
}