<div class="container col-md-12" *ngIf="petitesAnnonces.length" >
    <p-carousel [value]="petitesAnnonces" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">    
        <ng-template let-annonce pTemplate="item">
            <div class="product-card m-3  d-flex flex-column justify-content-center align-items-center"  >
                <div class="badge">Hot</div>
                <div class="product-tumb" (click)="goToDetails(annonce.id)">
                  <img src="{{annonce.imageProduit}}" alt="">
                </div>
               <div class="product-details d-flex flex-column justify-content-center align-items-center" >
                  <div class="product-details mt-1" (click)="goToDetails(annonce.id)">
                    <div class="d-flex justify-content-between align-items-center ">
                      <div class="product-catagory ">{{annonce.typeProduit}}</div>
                      <div class="product-date  ">{{annonce.dateDebutEvent | date  }}</div>
                    </div>
                    <h4 class="mt-1" (click)="goToDetails(annonce.id)">{{ annonce.translations.designationProduit }}</h4>
                    <p (click)="goToDetails(annonce.id)">{{ annonce.translations.descriptifProduit }}</p>
                  </div>
                  <div class="footer d-flex justify-content-between align-items-center ">
                      <div class="price px-1">
                        <div class="prix-indique" (click)="goToDetails(annonce.id)" *ngIf="annonce.affichageTarif != 'code_8381'">
                          <h1 *ngIf="annonce.affichageTarif ==  'code_8383'">{{annonce.tarifUHTpardefaut}} <span>{{annonce.monnaiePays}}</span></h1>
                          <h1 *ngIf="annonce.affichageTarif ==  'code_8382'">{{annonce.tarifUHTpardefaut  + annonce.tVApardefaut }} <span>{{annonce.monnaiePays}}</span></h1>
                        </div>
                      </div>
                      <div class="product-links ">
                       
                        <i class="bi" [ngClass]="{'bi-heart-fill': favoriteStatus[annonce.id], 'bi-heart': !favoriteStatus[annonce.id]}" (click)="toggleFavorite(annonce.id)"></i>
                      </div>
               </div> 
              </div>
            </div>
        </ng-template>
    </p-carousel>
</div>     
        

