<div class="">
  <div class="cards" *ngFor="let post of posts.slice(0, max)">
    <div class="cardCollection">
        <div class="cardCollectiontextBox order-0">
        <div class="cardCollectiontextContent">

          <p class="cardCollectionh1"><a href="">{{post.titre}}</a></p>
          <p class="resume"> {{post.description}} </p>
          <span class="cardCollectionDate ">{{post.date.toLocaleDateString() }}</span>
        </div>
      </div>
      <div class="cardCollectionimg order-1">
        <img src="{{post.image}}" alt="">
        
      </div>
      
    </div>
  </div>
</div>
