.error-span{
    color: red;
}
/* Add a media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  .container {
    padding: 0; /* Remove padding to extend the container */
    margin: 0; /* Remove margin for full-width effect */
  }

  .row {
    justify-content: center; /* Center the form within the container */
  }

  .contact-form {
    width: 100%; /* Set the form width to 100% */
    max-width: none; /* Remove max-width restriction */
  }

  .col-md-12 {
    max-width: none; /* Remove max-width restriction for form columns */
  }

  .p-float-label {
    width: 100%; /* Make the form elements take full width */
  }
}
