<div class="body min-vh-100 d-flex flex-column">
    <main class="my-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-6 section-left">
                    <h1 class="page-title">We are launching soon</h1>
                    <div id="timer" class="bd-cd-timer">
                        <div class="time-card">
                            <span class="time-count" id="days">{{days}}</span>
                            <span class="time-label">Days</span>
                        </div>
                        <div class="time-card">
                            <span class="time-count" id="hours">{{hours}}</span>
                            <span class="time-label">hours</span>
                        </div>
                        <div class="time-card">
                            <span class="time-count" id="minutes">{{minutes}}</span>
                            <span class="time-label">minutes</span>
                        </div>
                        <div class="time-card">
                            <span class="time-count" id="seconds">{{seconds}}</span>
                            <span class="time-label">seconds</span>
                        </div>
                    </div>
                    <form class="form-subscribe">
                        <div class="form-group">
                            <label for="email" class="sr-only">email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="email address">
                        </div>
                        <button type="submit" class="btn btn-subscribe">Notify Me</button>
                    </form>
                </div>
                <div class="col-md-6 d-none d-md-flex align-items-center">
                    <img src="assets/images/coming-soon.png" alt="coming soon" class="img-fluid">
                </div>
            </div>
        </div>
    </main>
    
    <footer class="text-center">
        <nav class="footer-social-links">
            <a href="#!" class="social-link"><i class="bi bi-facebook"></i></a>
            <a href="#!" class="social-link"><i class="bi bi-twitter-x"></i></a>
            <a href="#!" class="social-link"><i class="bi bi-google"></i></a>
            <a href="#!" class="social-link"><i class="bi bi-slack"></i></a>
            <a href="#!" class="social-link"><i class="bi bi-skype"></i></a>
          </nav>
        <p class="footer-text mb-0">
            Copyright 2020  bootstrapdash
        </p>
    </footer>

</div>
