footer {
  margin-top: auto;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
  }
  .footitems{
    display: flex;
    align-items: center;
    justify-content: end;
    
  }
  .logo-media{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .media{
    padding-top: 1rem;
  }
 
  .media a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding-top: 0.8rem;
    
  }

.row h5{
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-align: start;
}
ul li a { 
  text-decoration: none;
  color: black;
  font-size: 14px;
  text-align: end;
}

#section{
  border-bottom: black 1px solid;
  border-top: double black  ;
}
.logo img{
  width: 400px;
}

@media screen and (max-width: 991px){
  footer {
    position: static;
    width: 100%;
    background-color: #ffffff;
  }
  
  .footitems{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.copyright{
  font-size: 14px;
}