/* card-collection.component.css */

.cardCollection {
    border: 2px solid red;
    padding-top: 10px;
    max-width: 52.5rem;
    height: 23.75rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    box-shadow: 0.3215rem 0.3215rem 0.375rem #dadada,
        -0.3215rem -0.3215rem .375rem #f6f6f6;
    transition: 0.5s ease-in-out;
}

.cardCollection:hover {
    cursor: pointer;
}

.cardCollectionh1 a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    max-height: 6em;
    white-space: normal;
}

.resume {

    color: black;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    max-height: 6em;
    white-space: normal;
}

.cardCollectionh1 a:hover {
    color: rgb(105, 104, 104);
}

// .cardCollectionimg {

// }

.cardCollectionimg img {
    display: flex;
    align-self: center;
    object-fit: cover;
    margin-left: 10px;
    width: 32.5rem;
    height: 21.875rem;
}

.cardCollection:hover>.cardCollectionimg {
    border-radius: 10px;

}

.cardCollectiontextBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: black;
    font-family: "Poppins", sans-serif;
}

.cardCollectiontextContent {
    display: flex;
    flex-direction: column;
}

.cardCollectionh1 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.cardCollectionDate {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}