.cardCollection {
  width: 100%;
  max-width: 25rem;
  height: 100px;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  box-shadow: 0.3215rem 0.3215rem 0.375rem #dadada,
    -0.3215rem -0.3215rem .375rem #f6f6f6;
  transition: 0.5s ease-in-out;
}

.cardCollectionh1 a {
  text-decoration: none;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* You can adjust this value based on the number of lines you want to show */
  -webkit-box-orient: vertical;
  line-height: 1.5; /* Adjust line-height to control the spacing between lines */
  max-height: 6em; /* Adjust max-height to control the total height */
  white-space: normal; 
}

.cardCollectionh1 a:hover {
  color: rgb(105, 104, 104);
}

.cardCollectionimg {
  width:5rem;
  height: 5rem;
  margin-left: 10px;
  border-radius: 10px;
}

.cardCollectionimg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px; /* Add border-radius for a rounded image */
}

.cardCollection:hover > .cardCollectionimg {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.cardCollectiontextBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: black;
  font-family: "Poppins" sans-serif;
}

.cardCollectiontextContent {
  display: flex;
  flex-direction: column; /* Change to column layout */
}

.cardCollectionh1 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.cardCollectionDate {
  font-size: 14px;
  color: #777;
  margin-top: 5px; /* Adjust spacing between title and date */
}
