<section class="vh-60">
    <div class="container py-1 h-100">
        <div class="row d-flex justify-content-center cont align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="bg-transparent text-black" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">
                        <div class="mb-md-2 mt-md-5 pb-5">
                         
                            <div class="example-container">
                               
                         

                            <p class="mb-2 display-6 text-primary">{{"code_1" | translate | titlecase}}
                                <strong>Projecto</strong></p>
                            <p class="text-dark-50 mb-5 text-primary">Please enter your Email and password! </p>
                            <div class="p-inputgroup col-md-4 offset-md-4 p-3">
                                <!-- Center the inputs in a 6-column grid with a 3-column offset -->
                                <span class="p-float-label">
                                    <input class="p-inputtext-lg text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"  id="username" type="email" fromname="email" required />
                                    <label for="username">Username</label>
                                </span>
                            </div>

                            <div class="p-inputgroup col-md-4 offset-md-4 mb-3 p-3">
                                <!-- Center the inputs in a 6-column grid with a 3-column offset -->
                                <span class="p-float-label">
                                    <input class="p-inputtext-lg text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"  type="password" id="password" formname="password" required />
                                    <label for="password">Password</label>
                                </span>
                            </div>
                            <p class="my-3"><a class="text-black-50  h6" href="#!" routerLink="/password-reset"> {{"code_10" | translate | titlecase}} ? </a></p>
                             <p-button label="LOGIN" class="mb-3 " icon="pi pi-user" styleClass="w-10rem mx-auto border-round-md"></p-button>
                            </div>
                        <p class="text-dark-50 mt-3 mb-3 h6" style="color:#b267fd">{{"code_8" | translate | titlecase}} : </p>
                        <div>
                            <a href="#" routerLink="/reg" >Sign up now?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>