<div class="content" style="width: 10%;float: right">
    <div class="row" style="position: fixed;">
        <div class="right">
          <button class="btn1" [routerLink]="['/es']" routerLinkActive="router-link-active"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight1"  aria-controls="offcanvasRight">E-Guichet</button><br>
          <button class="btn1" [routerLink]="['/']"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2"  aria-controls="offcanvasRight">Info Route</button><br>
          <button class="btn1"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight3"  aria-controls="offcanvasRight">Météo</button><br>
          <button class="btn1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight4"  aria-controls="offcanvasRight">ExChange</button><br>
        </div>
        <div class="btn-group dropstart">
          <button type="button" class="btn1 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Transport en commun
          </button>
          <ul class="dropdown-menu m-2 p-2">
  
            <li><a href="" class="sty1"><i class="bi bi-airplane"></i> Airplane</a></li>
            <li><a href="" class="sty1"><i class="bi bi-taxi-front"></i> Taxi</a></li>
            <li><a href="" class="sty1"><i class="bi bi-bus-front"></i> Bus</a></li>
            <li><a href="" class="sty1"><i class="bi bi-train-front"></i> Train</a></li>
          </ul>
        </div>
  
      <!-- </div> -->
    </div>
  </div>