@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import "primeicons/primeicons.css";
.error-span{
    color: red;
}
/* Add a media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  .container {
    padding: 0; /* Remove padding to extend the container */
    margin: 0; /* Remove margin for full-width effect */
  }

  .row {
    justify-content: center; /* Center the form within the container */
  }

  .contact-form {
    width: 100%; /* Set the form width to 100% */
    max-width: none; /* Remove max-width restriction */
  }

  .col-md-12 {
    max-width: none; /* Remove max-width restriction for form columns */
  }

  .p-float-label {
    width: 100%; /* Make the form elements take full width */
  }
}

.card{
  border: none;
}

.comment-card{
  border-bottom: 1px solid rgb(185, 182, 182) ;
  height:auto;
  display: block;

  border-radius: 10px;
}

.comment-content-actions {
  display: flex;
  align-items: center;
}

.comment-content {
  padding:0 20px ;
  flex: 1;
  max-width : 100%;
}


.comment-header {
  display: flex;
  align-items: center;
}

.card .comment-author {
  flex: 1;  // Allow the author to take up the available space
  font-weight: bold;
  padding:10px 0 0 10px ;
}
.bi{
  font-size: 1.5rem;
  padding : 5px;
}


span:hover{
  color: #007bff;
  cursor : pointer;
}